# Folders
_site/
!node_modules/
node_modules/*
!node_modules/bootstrap/
!node_modules/@popperjs
!node_modules/jquery
!node_modules/bootstrap-input-spinner

# Files
.jekyll-cache
.jekyll-metadata
.sass-cache
Gemfile.lock