---
---

@import "bootstrapVariables";
@import "bootstrap/scss/bootstrap";

h1 {
  font-size: 2.5rem;
}
h1, h2 {
  font-family: 'Playfair Display', serif;
}

dl {
  font-size: 0.9rem;
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 4rem;
  }
}