---
---

@import "bootstrapVariables";
@import "bootstrap/scss/bootstrap";

h1 {
  font-size: 2.5rem;
}

dl {
  font-size: 0.9rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 4rem;
  }
}