---
custom_css: producte
layout: default
---

<div class="col-12 col-sm-5 mt-5 p-0 position-absolute d-none d-sm-block" style="z-index: -1;">
    <img src="{{ site.url }}/assets/images/600x400.png" alt="{{ page.title }}" class="img-fluid">
</div>
<div class="offset-sm-4 col-sm-6">
    <h1 class="fw-bold mb-4 d-none d-sm-block">{{ page.formatted-title }}</h1>
    <h1 class="fw-bold mb-4 d-block d-sm-none">{{ page.title }}</h1>
    <img src="{{ site.url }}/assets/images/600x400.png" alt="{{ page.title }}" class="img-fluid d-block d-sm-none mb-3">
    <div class="row">
        <div class="col-12 offset-sm-3 col-sm-9">
            {{ content }}

            <p class="mt-4 fs-2 fw-bold"><sup class="fs-6">preu:</sup> {{ page.price }}€</p>

            <div class="mb-4">
                {% assign missatge = 'Hola! Voldria fer una comanda de: ' | append: page.title | url_encode %}
                <a type="button" class="btn btn-dark btn-lg" href="https://wa.me/+34649430171/?text={{ missatge }}" target="_blank">Fer comanda</a>
            </div>

            <dl class="row">
                <dt class="col-sm-3">Conservació</dt>
                <dd class="col-sm-9">{{ page.product-preserving }}</dd>

                <dt class="col-sm-3">Al·lèrgens</dt>
                <dd class="col-sm-9">{{ page.product-allergies }}</dd>

                <dt class="col-sm-3">Ingredients</dt>
                <dd class="col-sm-9">{{ page.product-ingredients }}</dd>
            </dl>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <img src="" alt="">
</div>